<section>
	<div class="author-bio h-card">
		<h1><%= link_to @author.name, author_path(@author.uri_name), class: 'p-name u-url' %></h1>

		<% if @author.bio %>
			<div class="p-note">
				<%= @author.bio %>
			</div>
		<% end %>
	</div>

	<% unless @author.stories.empty? %>
		<div class="authors-stories">
			<h2>Stories <i>(<%= @author.stories.count %>)</i></h2>

			<ol class="stories-list">
				<% @author.stories.each do |story| %>
					<li class="h-entry">
						<h3 class="title"><%= link_to story.title, story_path(story.original_id), class: 'p-name u-url' %></h3>
						<p class="meta">Originally published on <time class="dt-pubished" datetime="<%= story.published_at.to_s(:iso8601) %>"><%= story.published_at.to_s(:display) %></time>.</p>
					</li>
				<% end %>
			</ol>
		</div>
	<% end %>
</section>