<article class="story h-entry">
	<header class="story-header">
		<h1><%= link_to @story.title, story_path(@story.orig_id), class: 'u-url p-name' %></h1>

		<% if @story.is_mature %>
			<div class="warning">
				<p><b>Warning:</b> This story contains mature themes and/or language.</p>
			</div>
		<% end %>
	</header>

	<div class="story-content-wrapper">
		<% if @story.photo_url %>
			<figure class="story-photo" role="complementary">
				<a href="<%= @story.photo_link %>"><img src="<%= @story.photo_url %>" alt=""></a>
				<figcaption>
					<a href="<%= @story.photo_link %>"><%= @story.photo_title %></a> by <%= @story.photo_author %>
				</figcaption>
			</figure>
		<% end %>

		<div class="story-content e-content">
			<%= @story.body %>
		</div>
	</div>

	<% if !@story.prequels.empty? || !@story.sequels.empty? %>
		<aside class="story-related" role="complementary">
			<% unless @story.prequels.empty? %>
				<div class="prequels">
					<h1>Prequels</h1>

					<ol class="stories-list">
						<% @story.prequels.each do |prequel| %>
							<li class="h-entry">
								<h2 class="title"><%= link_to prequel.title, story_path(prequel.orig_id), class: 'p-name u-url' %></h2>

								<p class="meta">Written by <%= link_to prequel.author.name, author_path(prequel.author.uri_name), class: 'p-author h-card' %>.</p>
							</li>
						<% end %>
					</ol>
				</div>
			<% end %>

			<% unless @story.sequels.empty? %>
				<div class="sequels">
					<h1>Sequels</h1>

					<ol class="stories-list">
						<% @story.sequels.each do |sequel| %>
							<li class="h-entry">
								<h2 class="title"><%= link_to sequel.title, story_path(sequel.orig_id), class: 'p-name u-url' %></h2>

								<p class="meta">Written by <%= link_to sequel.author.name, author_path(sequel.author.uri_name), class: 'p-author h-card' %>.</p>
							</li>
						<% end %>
					</ol>
				</div>
			<% end %>
		</aside>
	<% end %>

	<footer class="story-footer">
		<p>This story was written by <%= link_to @story.author.name, author_path(@story.author.uri_name), class: 'p-author h-card' %> and originally published on <time class="dt-pubished" datetime="<%= @story.published_at.to_s(:iso8601) %>"><%= @story.published_at.to_s(:display) %></time>.</p>

		<%# unless @story.tags.empty? %>
		<% if false %>
			<ul>
				<% @story.tags.each do |tag| %>
					<li><a href="/tags/<%= tag %>" class="p-category"><%= tag %></a></li>
				<% end %>
			</ul>
		<% end %>
	</footer>

	<% unless @story.comments.empty? %>
		<aside class="story-comments" id="comments" role="complementary">
			<h1>Comments <i>(<%= @story.comments.count %>)</i></h1>

			<ol class="comments-list">
				<% @story.comments.each do |comment| %>
					<li>
						<article class="comment p-comment h-cite" id="comment-<%= comment.orig_id %>">
							<div class="comment-content e-content">
								<%= comment.body %>
							</div>

							<footer class="comment-footer">
								<p>
									<%= link_to comment.author.name, author_path(comment.author.uri_name), class: 'p-author h-card' %> commented on
									<%= link_to "<time class=\"pubdate dt-published\" datetime=\"#{comment.published_at.to_s(:iso8601)}\">#{comment.published_at.to_s(:display)}</time>", "#comment-#{comment.orig_id}", class: 'comment-permalink u-url' %>.
								</p>
							</footer>
						</article>
					</li>
				<% end %>
			</ol>
		</aside>
	<% end %>
</article>