<!doctype html>
<html id="ficlets-com" lang="en-US">
<head>
	<meta charset="utf-8">

	<title><%= "#{@page_title} – " if @page_title %>Ficlets</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
</head>
<body>

	<div class="layout-wrapper">
		<header class="global-header" role="banner">
			<h1 class="logo"><%= link_to 'Ficlets', '/', rel: 'home' %></h1>

			<nav class="navigation" role="navigation">
				<ul>
					<li><%= link_to 'Home', '/', rel: 'home' %></li>
					<li><%= link_to 'Stories', stories_path %></li>
					<li><%= link_to 'Authors', authors_path %></li>
					<li><%= link_to 'Tags', tags_path %></li>
				</ul>
			</nav>
		</header>

		<main class="global-content" role="main">
			<%= yield %>
		</main>

		<footer class="global-footer" role="contentinfo">
			<p>Some rights reserved. This site’s content is licensed under a <%= link_to 'Creative Commons Attribution-Share Alike 2.5 license', 'http://creativecommons.org/licenses/by-sa/2.5/', rel: 'license' %>. Source code available on <%= link_to 'GitHub', 'https://github.com/ficly/ficlets.com', rel: 'source' %>.</p>
		</footer>
	</div>

</body>
</html>